<div id="login_box">
  <div class="banner"><h1>中国联通肇庆|服务平台</h1></div>
  <%= form_tag sessions_path+'/create' do %>
      <div class="login_area" style="padding-left: 200px">
        <dl>
          <dt><div class="label"><%= label_tag :username, '用户名：' %></div></dt>
          <dd><span><%= text_field_tag :username, params[:username], :autofocus => true %></span></dd>
          <dt><div class="label"><%= label_tag :password, '密码：' %></div></dt>
          <dd><span><%= password_field_tag :password, params[:password] %></span></dd><br/>
          <dt></dt>
          <dd><%= submit_tag '登入系统' %></dd>
        </dl>
        <dl>
          <% if flash[:alert] %>
              <div class="mini-error" style="color: red"><%= flash[:alert] %></div>
          <% end %>
        </dl>
      </div>
  <% end %>
</div>
