    <div style="width:99%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">      
                    </td>
                    <td style="white-space:nowrap;">
                        <input id="key" Format="yyyyMMdd" class="mini-datepicker"/>
                        <a class="mini-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:99%;height:95%;" allowResize="true"
         url="<%= marketing_real_time_daily_incomes_path %>.json"  idField="timest" multiSelect="true"
         sizeList="[10,20,30,50]" pageSize="10" >
        <div property="columns">
            <!--  <div type="indexcolumn"></div>  -->
            <div type="checkcolumn" ></div>      
            <div field="timest" width="120" headerAlign="center" allowSort="true">统计日期</div>  
            <div field="flag_name" width="120" headerAlign="center" allowSort="true">线条/区县</div>  
            <div field="income_mobile_d" width="120" headerAlign="center" allowSort="true">移动业务当日</div>    
            <div field="income_ydhff_d" width="120" headerAlign="center" allowSort="true">其中：后付费当日</div>    
            <div field="income_ydyff_d" width="120" headerAlign="center" allowSort="true">其中：预付费当日</div>    
            <div field="income_gw_d" width="120" headerAlign="center" allowSort="true">固网业务当日</div>    
            <div field="income_kd_d" width="120" headerAlign="center" allowSort="true">其中：宽带当日</div>    
            <div field="income_mobile_m1" width="120" headerAlign="center" allowSort="true">移动业务当月</div>    
            <div field="income_ydhff_m1" width="120" headerAlign="center" allowSort="true">其中：后付费当月</div> 
            <div field="income_ydyff_m1" width="120" headerAlign="center" allowSort="true">其中：预付费当月</div> 
            <div field="income_gw_m1" width="120" headerAlign="center" allowSort="true">固网业务当月</div>    
            <div field="income_kd_m1" width="120" headerAlign="center" allowSort="true">其中：宽带当月</div>  
            <div field="income_mobile_m2" width="120" headerAlign="center" allowSort="true">移动业务上月同期</div>
            <div field="income_mobile_m2" width="120" headerAlign="center" allowSort="true">其中：后付费上月同期</div> 
            <div field="income_ydyff_m2" width="120" headerAlign="center" allowSort="true">其中：预付费上月同期</div> 
            <div field="income_gw_m2" width="120" headerAlign="center" allowSort="true">固网业务上月同期</div> 
            <div field="income_kd_m2" width="120" headerAlign="center" allowSort="true">其中：宽带上月同期</div>       
        </div>                     
    </div>


    <script type="text/javascript">
        
        mini.parse();
        
        var grid = mini.get("datagrid1");

        grid.load();
        
        grid.sortBy('timest', 'asc');

        function search() {
            var key = mini.get("key").getFormValue();
            grid.load({ key: key });
        }
 

        
    </script>

