    <div style="width:99%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">      
                    </td>
                    <td style="white-space:nowrap;">
                        <input type="text" id="key" placeholder="请输入营服中心名字" style="width:150px;" />
                        <a class="mini-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:99%;height:95%;" allowResize="true"
         url="<%= yth_grid_report_charges_path %>.json"  idField="yf_name" multiSelect="true"
         sizeList="[10,20,30,50]" pageSize="10" >
        <div property="columns">
            <!--<div type="indexcolumn"></div>        -->
            <div type="checkcolumn" ></div>        
            <div field="area_name" width="120" headerAlign="center" allowSort="true">范围</div>    
            <div field="yf_name" width="120" headerAlign="center" allowSort="true">营服中心</div>    
            <div field="grid_name" width="120" headerAlign="center" allowSort="true">团队</div>    
            <div field="jcdy_name" width="120" headerAlign="center" allowSort="true">客户</div> 
            <div field="product_name" width="120" headerAlign="center" allowSort="true">产品</div>    
            <div field="sum_charge" width="120" headerAlign="center" allowSort="true">总计</div> 
            </div>                     
        </div>


    <script type="text/javascript">
        
        mini.parse();
        
        var grid = mini.get("datagrid1");

        grid.load();
        
        grid.sortBy('sum_charge', 'asc');

        function search() {
            var key = document.getElementById("key").value;
            grid.load({ key: key });
        }
 

        
    </script>




    


