    <div style="width:99%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">      
                    </td>
                    <td style="white-space:nowrap;">
                        <input type="text" id="key" placeholder="请输入线条及区县" style="width:150px;" />
                        <a class="mini-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:99%;height:95%;" allowResize="true"
         url="<%= pay_day_after_tracking_tables_path %>.json"  idField="timest" multiSelect="true"
         sizeList="[10,20,30,50]" pageSize="10" >
        <div property="columns">
            <!--  <div type="indexcolumn"></div>  -->
            <div type="checkcolumn" ></div>
            <div field="timest" width="120" headerAlign="center" allowSort="true">统计日期</div>  
            <div field="flag_name" width="120" headerAlign="center" allowSort="true">线条及区县</div>  
            <div field="1" width="120" headerAlign="center" allowSort="true">1号</div>    
            <div field="2" width="120" headerAlign="center" allowSort="true">2号</div> 
            <div field="3" width="120" headerAlign="center" allowSort="true">3号</div> 
            <div field="4" width="120" headerAlign="center" allowSort="true">4号</div> 
            <div field="5" width="120" headerAlign="center" allowSort="true">5号</div> 
            <div field="6" width="120" headerAlign="center" allowSort="true">6号</div> 
            <div field="7" width="120" headerAlign="center" allowSort="true">7号</div> 
            <div field="8" width="120" headerAlign="center" allowSort="true">8号</div> 
            <div field="9" width="120" headerAlign="center" allowSort="true">9号</div> 
            <div field="10" width="120" headerAlign="center" allowSort="true">10号</div> 
            <div field="11" width="120" headerAlign="center" allowSort="true">11号</div> 
            <div field="12" width="120" headerAlign="center" allowSort="true">12号</div> 
            <div field="13" width="120" headerAlign="center" allowSort="true">13号</div> 
            <div field="14" width="120" headerAlign="center" allowSort="true">14号</div> 
            <div field="15" width="120" headerAlign="center" allowSort="true">15号</div> 
            <div field="16" width="120" headerAlign="center" allowSort="true">16号</div> 
            <div field="17" width="120" headerAlign="center" allowSort="true">17号</div> 
            <div field="18" width="120" headerAlign="center" allowSort="true">18号</div> 
            <div field="19" width="120" headerAlign="center" allowSort="true">19号</div> 
            <div field="20" width="120" headerAlign="center" allowSort="true">20号</div> 
            <div field="21" width="120" headerAlign="center" allowSort="true">21号</div> 
            <div field="22" width="120" headerAlign="center" allowSort="true">22号</div> 
            <div field="23" width="120" headerAlign="center" allowSort="true">23号</div> 
            <div field="24" width="120" headerAlign="center" allowSort="true">24号</div> 
            <div field="25" width="120" headerAlign="center" allowSort="true">25号</div> 
            <div field="26" width="120" headerAlign="center" allowSort="true">26号</div> 
            <div field="27" width="120" headerAlign="center" allowSort="true">27号</div> 
            <div field="28" width="120" headerAlign="center" allowSort="true">28号</div> 
            <div field="29" width="120" headerAlign="center" allowSort="true">29号</div>
            <div field="30" width="120" headerAlign="center" allowSort="true">30号</div>
            <div field="31" width="120" headerAlign="center" allowSort="true">31号</div>
        </div>                     
    </div>


    <script type="text/javascript">
        
        mini.parse();
        
        var grid = mini.get("datagrid1");

        grid.load();
        
        grid.sortBy('timest', 'asc');

        function search() {
            var key = document.getElementById("key").value;
            grid.load({ key: key });
        }
       
    </script>
