<!--Layout-->
<div id="layout1" class="mini-layout" style="width:100%;height:100%;"> 
    <div class="header" region="north" height="70" showSplit="false" showHeader="false">
        <div style="float:left;">
               <img src="<%= image_path 'header_unicom.png' %>"        
               style="margin:5px;padding:0px;width:70px;height:50px;"/>
        </div>
        <h1 style="margin:0;padding:20px;cursor:default;font-family:'Trebuchet MS',Arial,sans-serif;">应用管理系统</h1>
        <div style="position:absolute;top:18px;right:10px;">
            <a class="mini-button mini-button-iconTop" iconCls="icon-edit" onclick="onClick"  plain="true" >首页</a>        
            <a class="mini-button mini-button-iconTop" iconCls="icon-close" onclick="onClick"  plain="true" >关闭</a>      
        </div>
        
    </div>
    <div title="south" region="south" showSplit="false" showHeader="false" height="30" >
        <div style="line-height:28px;text-align:center;cursor:default">Copyright ©  </div>
    </div>


    <div title="center" region="center" style="border:0;" bodyStyle="overflow:hidden;">
        <!--Splitter-->
        <div class="mini-splitter" style="width:100%;height:100%;" borderStyle="border:0;">
            <div size="180" maxSize="250" minSize="100" showCollapseButton="true" style="border:0;">
                <!--OutlookTree-->

    <div class="mini-outlookbar " activeIndex="0" style="width:180px;height:100%;" autoCollapse="true">
        <div title="导航栏">            
            <ul id="leftTree" class="mini-tree" style="width:200px;padding:5px;"
                showTreeIcon="true" onnodeclick="onNodeSelect" >
                <li>
                    <span expanded="false" id="minizzr">查询</span>
                        <ul>
                            <li value="/marketing_real_time_daily_incomes">市场部实时收入日报</li>
                            <li value="/group_revenue_department_real_time_dailys">集团部实时收入日报</li>
                            <li value="/shift_network_prepaid_development_dailys">移网预付费发展日报</li>
                            <li value="/daily_fixed_line_broadband_developments">固网宽带发展日报</li>
                            <li value="/after_shifting_network_user_development_fee_details">移网后付费发展用户明细</li>
                            <li value="/development_prepaid_user_details">移网预付费发展用户明细</li>
                            <li value="/pay_day_after_tracking_tables">后付费日跟踪表</li>
                            <li value="/prepaid_day_tracking_tables">预付费日跟踪表</li>
                        </ul>
                </li>                       
            </ul>  
        </div>
    </div>          
            </div>
            <div showCollapseButton="false" style="border:0;">
                <!--Tabs-->
                <div id="mainTabs" class="mini-tabs" activeIndex="0" style="width:100%;height:100%;">
                    <div title="首页" url="../comics" >   
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>

    

<script type="text/javascript">

    mini.parse();

    var tree = mini.get("leftTree");
    var tabs = mini.get("mainTabs");
    //tabs

    function showTab(node) {
        var id = "tab$" + node.id;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab.name = id;
            tab.title = node.text;
            tab.showCloseButton = true;
            //这里拼接了url，实际项目，应该从后台直接获得完整的url地址
            tab.url = node.id;
            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }

    function onNodeSelect(e) {
        var node = e.node;
        var isLeaf = e.isLeaf;
        if (isLeaf) {
            //alert("你选择了" + e.node.id);
            showTab(node);
        }
    }

</script>
