    <div style="width:99%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">      
                    </td>
                    <td style="white-space:nowrap;">
                        <input type="text" id="key" placeholder="请输入营服中心名字" style="width:150px;" />
                        <a class="mini-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:99%;height:95%;" allowResize="true"
         url="<%= after_shifting_network_user_development_fee_details_path %>.json"  idField="timest" multiSelect="true"
         sizeList="[10,20,30,50]" pageSize="10" >
        <div property="columns">
            <!--  <div type="indexcolumn"></div>  -->
            <div type="checkcolumn" ></div>    
            <div field="timest" width="120" headerAlign="center" allowSort="true">统计日期</div>  
            <div field="user_id" width="120" headerAlign="center" allowSort="true">用户编号</div>  
            <div field="serial_number" width="120" headerAlign="center" allowSort="true">号码</div>    
            <div field="net_type_name" width="120" headerAlign="center" allowSort="true">网别</div>    
            <div field="brand_name" width="120" headerAlign="center" allowSort="true">品牌</div>    
            <div field="product_id" width="120" headerAlign="center" allowSort="true">产品代码</div>    
            <div field="product_name" width="120" headerAlign="center" allowSort="true">产品名称</div>    
            <div field="brand_code_bi" width="120" headerAlign="center" allowSort="true">经分品牌代码</div>    
            <div field="brand_name_bi" width="120" headerAlign="center" allowSort="true">经分品牌名称</div> 
            <div field="newdate" width="120" headerAlign="center" allowSort="true">发展日期</div> 
            <div field="cust_name" width="120" headerAlign="center" allowSort="true">客户名称</div>    
            <div field="depart_id" width="120" headerAlign="center" allowSort="true">发展渠道代码</div>  
            <div field="yf_name" width="120" headerAlign="center" allowSort="true">营服</div>
            <div field="area_name" width="120" headerAlign="center" allowSort="true">区县</div> 
            <div field="user_type" width="120" headerAlign="center" allowSort="true">线条</div> 
            <div field="state_name" width="120" headerAlign="center" allowSort="true">状态</div> 
            <div field="ycye" width="120" headerAlign="center" allowSort="true">预存款余额</div> 
            <div field="yfye" width="120" headerAlign="center" allowSort="true">预付款余额</div> 
            <div field="zkye" width="120" headerAlign="center" allowSort="true">赠款余额</div> 
            <div field="sssr" width="120" headerAlign="center" allowSort="true">实时收入</div>       
        </div>                     
    </div>


    <script type="text/javascript">
        
        mini.parse();
        
        var grid = mini.get("datagrid1");

        grid.load();
        
        grid.sortBy('timest', 'asc');

        function search() {
            var key = document.getElementById("key").value;
            grid.load({ key: key });
        }
       
    </script>


