    <div style="width:99%;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">      
                    </td>
                    <td style="white-space:nowrap;">
                        <input id="key" Format="yyyyMMdd" class="mini-datepicker"/>
                        <a class="mini-button" onclick="search()">查询</a>
                    </td>
                </tr>
            </table>           
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:99%;height:95%;" allowResize="true"
         url="<%= daily_fixed_line_broadband_developments_path %>.json"  idField="timest" multiSelect="true"
         sizeList="[10,20,30,50]" pageSize="10" >
        <div property="columns">
            <!--  <div type="indexcolumn"></div>  -->
            <div type="checkcolumn" ></div>      
            <div field="timest" width="120" headerAlign="center" allowSort="true">统计日期</div>  
            <div field="flag_name" width="120" headerAlign="center" allowSort="true">线条/区县</div>  
            <div field="hf_new_day" width="120" headerAlign="center" allowSort="true">当日发展</div>    
            <div field="hf_new_mon" width="120" headerAlign="center" allowSort="true">当月发展</div>    
            <div field="ring_growth" width="120" headerAlign="center" allowSort="true">环比增长</div>    
            <div field="year_on_year_growth" width="120" headerAlign="center" allowSort="true">同比增长</div>   
        </div>                     
    </div>


    <script type="text/javascript">
        
        mini.parse();
        
        var grid = mini.get("datagrid1");

        grid.load();
        
        grid.sortBy('timest', 'asc');

        function search() {
            var key = mini.get("key").getFormValue();
            grid.load({ key: key });
        }
 

        
    </script>


