#login_box {
  background-image: url(login_bg.gif);
  width: 600px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -300px;
}
form {
  display: block;
  margin-top: 2.5em;
}
.login_area .label{
  width: 70px;
  text-align: right;
  font-weight: bold;
  float: left;
}
.login_area input{
  width: 135px;
}
.banner {
  margin-top: 100px;
  list-style: none;
}
.banner h1 {
  font-family: "黑体";
  font-size: 30px;
  text-align: center;
  color: #C40000;
}
.login {
  text-align: center;
}
