<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>View</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "miniui/themes/default/miniui", :media => "all" %>
  <%= stylesheet_link_tag "miniui/themes/icons", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<style type="text/css">
  html, body {margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}
</style>

<%= yield %>

</body>
</html>
