<!DOCTYPE html>
<html>
<head>
  <title>B2I外呼服务平台</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "miniui/themes/default/miniui", :media => "all" %>
  <%= stylesheet_link_tag "miniui/themes/icons", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      .header{background:url("<%= image_path('header.gif')%>"), repeat-x 0 1px;}
  </style>
</head>
<body>
  <style type="text/css">
    html,body {margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}
  </style>
<div id="layout1" class="mini-layout" style="width:100%;height:100%;">
  <div class="header" title="north" region="north" height="60" showSplit="false" showHeader="false">
    <div style="float:left;">
      <img src="<%= image_path 'header_unicom.png' %>" style="margin:5px;padding:0px;width:70px;height:50px;"/>
    </div>
    <div style="float:left;">
      <h1 style="margin:0;padding:20px;cursor:default;font-family:'Trebuchet MS',Arial,sans-serif;">B2I外呼服务平台</h1>
    </div>
    <div style="position:absolute;top:8px;right:30px;">
      <a class="mini-button mini-button-iconTop" iconCls="icon-close" plain="true" href="">退出</a>
    </div>
  </div>
  <div title="south" region="south" showSplit="false" showHeader="false" height="35px"  >
    <div style="text-align: center;">中国联合网络通信有限公司肇庆市分公司 © 信息化支撑中心 2017.10</div>
  </div>
  <div title="center" region="center" borderStyle="overflow:hidden;" >
    <!--Splitter-->
    <div class="mini-splitter" style="width:100%;height:100%;" borderStyle="border:0;">
      <div size="180" maxSize="250" minSize="100" showCollapseButton="true" style="border:0;">
        <!--OutlookTree-->
        <div id="leftTree" class="mini-outlooktree" url="" onnodeclick="onNodeSelect"
             textField="text" idField="id" parentField="pid">
        </div>
      </div>
      <div showCollapseButton="false" style="border:0;">
        <!--Tabs-->
        <div id="mainTabs" class="mini-tabs" activeIndex="0" style="width:100%;height:100%;"

        >
          <div title="首页">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    mini.parse();

    var tree = mini.get("lefeTree");
    var tabs = mini.get("mainTabs");
    //tabs

    function showTab(node) {

        var id = "tab$" + node.id;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab.name = id;
            tab.title = node.text;
            tab.showCloseButton = true;

            //这里拼接了url，实际项目，应该从后台直接获得完整的url地址
            tab.url = node.url;

            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }

    function onNodeSelect(e) {
        var node = e.node;
        var isLeaf = e.isLeaf;

        if (isLeaf) {
            //alert("你选择了" + e.node.id);
            showTab(node);
        }
    }

</script>
</body>
</html>
