<!DOCTYPE html>
<html>
<head>
  <title>平台</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "miniui/themes/default/miniui", :media => "all" %>
  <%= stylesheet_link_tag    "miniui/themes/icons", :media => "all" %>
  <%= stylesheet_link_tag    "sessions",:media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="width: 100%;height:100%;overflow:hidden;">

<%= yield %>

</body>
</html>
